<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <h3 align="center">GESTIÓN DE REGISTRO</h3>
                <p class="text-body-secondary">Iniciar sesión en su cuenta</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" [(ngModel)]="xLogin.usuario" [ngModelOptions]="{standalone: true}"
                    cFormControl placeholder="Nombre de Usuario" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="current-password" [(ngModel)]="xLogin.clave"
                    [ngModelOptions]="{standalone: true}" cFormControl placeholder="Contraseña" type="password" />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button (click)="Login()" cButton class="px-4" color="primary">
                      Iniciar Sesión
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Recuperar Contraseña?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'minWidth.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div class="fondo-negro">
                <img src="assets/logo.png" width="250px" height="250px" alt="logo-consulado">
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>