<c-card class="mb-4">
  <c-card-header>
    Lista de Usuarios
    <button [cModalToggle]="verticallyCenteredModal.id" size="sm" cButton>Agregar Registro</button>
  </c-card-header>
  <c-card-body>

    <div>
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="d-flex justify-content-between align-items-center m-1">
            <label class="d-flex align-items-center">Mostrar
              <select class="form-control mx-25" [(ngModel)]="selectedOption">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              Registros</label>
          </div>
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
          <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
            <label class="d-flex align-items-center ml-1 ml-md-0">Buscar:<input [(ngModel)]="search" name="searchValue"
                type="search" class="form-control ml-25" placeholder="Buscar" (keyup)="filter($event)"
                (search)="filter($event)" /></label>
          </div>
        </div>
      </div>

      @if(loadingTable == 0){
      <ng-container>
        <div class="loading-overlay">
          <div class="spinner-border" role="status"></div>
          <div class="loading-message">Cargando datos por favor espere!..</div>
        </div>
      </ng-container>
      }

      @if(loadingTable == 2){
      <ng-container>
        <div class="loading-overlay">
          <!-- <div class="spinner-border" role="status"></div> -->
          <div class="loading-message">No Hay Registros!..</div>
        </div>
      </ng-container>
      }

      <ngx-datatable [rows]="rows" rowHeight="auto" class="bootstrap core-bootstrap" [limit]="selectedOption"
        [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">

        <ngx-datatable-column name="Nombres Apellidos" prop="ciudadano" [width]="300">
          <ng-template let-ciudadano="value" ngx-datatable-cell-template>
            <div>
              <span class="font-weight-bold">{{ ciudadano }} </span>
            </div>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Horario" prop="horariox" [width]="100">
          <ng-template let-horariox="value" ngx-datatable-cell-template>
            <div>
              <span class="font-weight-bold">{{ horariox }} </span>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Fecha" prop="fecha" [width]="100">
          <ng-template let-fecha="value" ngx-datatable-cell-template>
            <div>
              <span class="font-weight-bold">{{ fecha }} </span>
            </div>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Departamento" prop="departamentox" [width]="100">
          <ng-template let-departamentox="value" ngx-datatable-cell-template>
            <div>
              <span class="font-weight-bold">{{ departamentox }} </span>
            </div>
          </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Tramite" prop="tramitex" [width]="200">
          <ng-template let-tramitex="value" ngx-datatable-cell-template>
            <div>
              <span class="font-weight-bold">{{ tramitex }} </span>
            </div>
          </ng-template>
        </ngx-datatable-column>



        <ngx-datatable-column name="Accion" [sortable]="false" [width]="100">
          <ng-template ngx-datatable-cell-template let-row="row">
            <c-badge color="danger" (click)="Eliminar(row)">Eliminar</c-badge>
            &nbsp;
            <c-badge color="warning" (click)="ModalActualizar('verticallyCenteredModal',row)">Actualziar</c-badge>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>


      <!--/ Invoice List -->
    </div>


  </c-card-body>
</c-card>

<c-modal #verticallyCenteredModal size="lg" alignment="center" id="verticallyCenteredModal">
  <c-modal-header>
    <h5 cModalTitle>Formulario de Registro</h5>
    <button (click)="closeModal('verticallyCenteredModal')" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Seleccione Ciudadano</label>
          <ngx-select [items]="ListarCiudadanos" [(ngModel)]="xRegistroBitacora.id_cc"
            [ngModelOptions]="{standalone: true}" optionValueField="id" optionTextField="ciudadano"
            placeholder="Seleccione Ciudadano" required autocomplete="off"></ngx-select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Seleccione Horario</label>
          <ngx-select [items]="horario" [(ngModel)]="xRegistroBitacora.horario" [ngModelOptions]="{standalone: true}"
            optionValueField="id" optionTextField="nombre" placeholder="Seleccione Horario" required
            autocomplete="off"></ngx-select>
        </div>
        <div class="col">
          <label class="form-label">Fecha</label>
          <input class="form-control" [(ngModel)]="xRegistroBitacora.fecha" [ngModelOptions]="{standalone: true}"
            placeholder="Fecha" type="date" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Seleccione Departamento</label>
          <ngx-select [items]="departamento" [(ngModel)]="xRegistroBitacora.departamento"
            [ngModelOptions]="{standalone: true}" (ngModelChange)="ListaTramite($event)" optionValueField="id"
            optionTextField="nombre" placeholder="Seleccione Departamento" required autocomplete="off"></ngx-select>
        </div>
      </div>
      @if(showTramite){
      <div class="row mb-3">
        <div class="col">
          <label class="form-label">Seleccione Tramite</label>
          <ngx-select [items]="tramite" [(ngModel)]="xRegistroBitacora.tramite" [ngModelOptions]="{standalone: true}"
            optionValueField="id" optionTextField="nombre" placeholder="Seleccione Tramite" required
            autocomplete="off"></ngx-select>
        </div>
      </div>
      }
    </form>

  </c-modal-body>
  <c-modal-footer>
    <button (click)="closeModal('verticallyCenteredModal')" cButton color="secondary">
      Cerrar
    </button>
    @if(!btnShow){
    <button cButton color="primary" (click)="Registrar()">Registrar Solicitud</button>
    }
    @if(btnShow){
    <button cButton color="warning" (click)="Actualizar()">Actualizar Solicitud</button>
    }
  </c-modal-footer>
</c-modal>